@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");

.app {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #2f74c0;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 40px;
  margin-top: 30px;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin-top: 15px;
    font-size: 35px;
  }
}
